@charset "ISO-8859-1";

#body{
/* 	background-image: url("backgroundarena.jpg"); */
/* 	background-size: contain; */
/* background-color: black; */

background: url("backgroundarena.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#infochar1{
	display: none;
}
#infochar2{
	display: none;
}

#textflex{
	position: fixed;
	display: flex;
	justify-content: center;
	height: 30%;
	width: 100%;
}

#textbox{
	position: relative;
	background-color: black;
	width: 50%;
	height: 100;
}

#logo{
	object-fit: contain;
	width: 90%;
}

#startflexcontain{
	display: flex;
	justify-content: center;
}

.startscreen{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 90%;
	height: 100%;
}

#enterbutton{
	position: relative;
	width: 30%;
	height: 40px;
	font-family: fantasy;
	font-size: 30px;
	
}

#Player1text{
	font-size: 20px;
}

#Player2text{
	font-size: 20px;
}

#app{
	position: relative;
	
	font-family: fantasy;
}

#buttonflex{
	display: flex;
	justify-content: center;
	width: 100%;
}

#StartButton{
	position:relative;
	height: 10%;
	width: 50%;
	display: none;
}

#StartFlexbox{
	position: relative;
	height: 100%;
	display: none;
}

.choiselist{
	width: 100%;
}

.p1{
	position: relative;
	text-align: center;
	
}

.p2{
	position: relative;
	text-align: center;
}

.flex-container{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 50%;
	justify-content: center;
	text-align: center;
}

.flex-container-super{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 100%;
	align-items: center;
	background-color: rgb(192, 192, 192);
/* 	background-image: url("backgroundarena.jpg"); */
	background-size: cover;
	flex-wrap: wrap;
}

#flex-container-super-combat{
	display: flex;
	flex-direction: row;
	position: relative;
	left: 0%;
	top:0%;
	width: 100%;
	height: 100%;
	align-items: center;
/* 	background-color: rgb(122, 122, 122); */
	
/* 	background-image: url("backgroundarena.jpg"); */
	background-size: cover;
}

#flex-container-player-actions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	left: 0%;
	width: 100%;
	height: 40%;
	
}

#Actions1all{
	height: 100%;
}

#AttackInfoChar2{
	text-align: right;
}

.characterlist{
	display: flex;
	flex-direction: column;
}

#play1image{
	position: relative;
	width: 50%;
	height: 50%;
}

#play2image{
	position: relative;
	width: 50%;
	height: 50%;
}

.AttackList{
	display: flex;
	flex-direction: column;
	color: rgb(148, 20, 148);
	width: 100%;
	display: none;
}

.P1Attack{
	position: relative;
	width: 100%;
}

.P2Attack{
	position: relative;
	width: 100%;
}

#P2AttackList{
	justify-content: flex-end;
	flex-direction: column;
}

.flex-container-actions{
	display:flex;
	flex-direction: column;
	background-color: white;
	position: relative;
	width: 50%;
}

.player-actions-style{
/* 	background-color: white; */
	width: 25%;
}

.HudButton{
	height: 33%;
	width: 100%;
}

.HudButton hover{
	background-color: rgb(188, 60, 188);
}

.HudButtons1{
	display: block;
	background-color: rgb(51, 153, 255);
}

.HudButtons2{
	display: block;
	background-color: rgb(230, 46, 0);
}

.P1Attack{
	background-color: rgb(51, 153, 255);
}

.P2Attack{
	background-color: rgb(230, 46, 0);
}

.AttackInfoBox{
	display: flex;
	justify-content: center;
/* 	flex-direction: column; */
	width: 95%;
}

#Attack1AccPow{
	display: flex;
}

#Attack2AccPow{
	display: flex;
	justify-content: flex-end;
}

#AttackInfoChar1{
	display: none;
}

#AttackInfoChar2{
	display: none;
}

.empty{
	width: 25%;
	background-color: rgb(204, 204, 204);
}

.hpbarBox{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.HpBar{
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
	
}

#HpBar1{
	width: 100%;
	background-color: rgb(255, 61, 61);
}

#HpBar2{
	width: 100%;
	background-color: rgb(255, 61, 61);
	align-content: flex-end;
}

.p1health{
	width:100%;
	background-color: rgb(0, 230, 0);
}

.p2health{
	align-content: flex-end;
	width:100%;
	background-color: rgb(0, 230, 0);
}

#combat1image{
	animation-name: animationp1;
	animation-duration: infinite ;
}

@keyframes animationp1{
	0%{left:0%;}
	100%{left:1%;}
}

#combat2image{
	animation-name: animationp2;
	animation-duration: infinite ;
}

@keyframes animationp2{
	0%		{left:0%;}
	100%	{left:1%;}
}

.combatpic{
	height: 55%;
/* 	width: 50%; */
	top: 90%
}

.combatpicflex{
	display: flex;
	justify-content: center;
}

#Endscreen{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

#endstats{
	background-color: rgb(168, 168, 168)
	
}

#selectlist1{
	background-color: rgb(51, 153, 255);
}

#selectlist2{
	background-color: rgb(230, 46, 0);
}

#winpic{
	size: 50%;
}

#Victory{
	font-size: 35px;
	color: rgb(255, 204, 0)
}