<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Crown of Defenders</title>
<link rel="stylesheet" href="CrownOfDefenders.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript" src="CrownOfDefenders.js" defer="true"></script>
</head>
<body>

<div id="app">
	<p>player 1:</p>
  	<input v-model="P1Name">
  	<p>{{ P1Name }}</p>
	<p>Player 2:</p>
	<input v-model="P2Name">
	<p>{{ P2Name }}</p>
	<button v-on:click="">Enter</button>
</div>

<div></div>

</body>
</html>